body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


h1 {
  text-align: center;
}

.game-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.game-board {
  border-collapse: collapse;
  margin: auto;
}

.game-board td {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  border: 4px solid #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-board td:hover {
  background-color: #eee;
}


.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: flex;
  flex-wrap: wrap;
  border: 4px solid #333;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.board > div {
  box-sizing: border-box;
  width: 33.33%;
  padding: 30px;
  font-size: 50px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.board > div:hover {
  background-color: #eee;
}

.board .X {
  color: #1abc9c;
}

.board .O {
  color: #e74c3c;
}

.message {
  margin-top: 20px;
  font-size: 30px;
}

button {
  background-color: #1abc9c;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #148f77;
}

.reset {
  background-color: #e74c3c;
}

.reset:hover {
  background-color: #c0392b;
}
